# Rust
target/

# Xcode & macOS Project Settings
# Track the project file layout and workspace configuration, but ignore user settings
**/xcuserdata/
**/DerivedData/
**/build/
.DS_Store
*.swp
*~

# IDE Settings
.idea/
.vscode/
*.sublime-*

# External Libraries & Binaries (Prevent committing heavy binary files)
Libraries/wine/
Libraries/dxvk/
Libraries/d3dmetal/
Moonshine/Bridge/libmoonshine_ffi.a
Moonshine/Bridge/*.dylib

